<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.callRing.self.mapper.ContactWayMapper" >

    <insert id="insertContactWay" parameterType="com.callRing.self.po.ContactWay">
        INSERT INTO contactWay
        (contactWayTittle,
        contactWayMessage,userName)
        VALUES (#{contactWayTittle}
        ,#{contactWayMessage},
        #{userName})
    </insert>

</mapper>